html,body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
}
.container .imgBg,.container .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}
.container .imgBg {
    background: url(../img/myDream.jpg) no-repeat;
    background-size: cover;
    filter: blur(7px);
}
.container .bg {
    background: rgba(0,0,0,0.2);
}

/* 头部的样式 */
.header {
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    position: relative;
}
.header .content img {
    width:1.2rem;
    height: 1.2rem;
}
.header .content h3 {
    display: inline-block;
    vertical-align: top;
}
.header .content h3 span {
    color: white;
    display: block;
    padding-top: .05rem;
}
.header .content h3 span:nth-child(1) {
    font-size: .35rem;
}
.header #musicBtn {
    background: url(../img/music.svg) no-repeat;
    width: .6rem;
    height: .6rem;
    display: block;
    position: absolute;
    background-size: 100% 100%;
    right:.3rem;
    top:50%;
    margin-top: -.25rem;
}
.header #musicBtn.select {
    animation: move 2s linear infinite;
}
@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* 中间部分 */
.main {
    width: 100%;
    padding: .3rem;
    height: 9rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.main .wrap {
    position: absolute;
    top:0;
    width: 96%;
}
.main .wrap p {
    width: 100%;
    color: rgb(240, 236, 236);
    text-align: center;
    height: 0.84rem;
    line-height: 0.84rem;
    font-size: 0.4rem;
}
.main .wrap p.select {
    color: #31c27c;
}

/* 底部样式 */
.footer {
    width: 100%;
    position: relative;
}
.footer .progress {
    position: relative;
}
.footer .progress .proBg {
    width: 65%;
    background: rgb(240, 236, 236);
    height: 0.05rem;
    margin: auto;
}
.footer .progress .proBg .lineBg {
    height: 0.05rem;
    width: 0;
    background: #31c27c;
}

.footer .progress span {
    color:  rgb(240, 236, 236);
    position: absolute;
    top:-.15rem
}
.footer .progress span#left {
        left: 0.4rem;
}
.footer .progress span#right {
    right: 0.4rem;
}
.footer #down {
    display: block;
    width: 60%;
    height: 1rem;
    line-height: 1rem;
    color: rgb(240, 236, 236);
    margin: .5rem auto;
    text-align: center;
    font-size: .4rem;
    /* border: 1px solid red; */
    border-radius: .5rem;
    background: url(../img/sprite_play.png) 0.2rem -5.86rem no-repeat #31c27c;
    background-size: .8rem 7rem;
}